.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url('/assets/Menu Aberto.svg');

}

.container__botao:checked~.container__rotulo{
    background: var(--gradient-blue);
}

.cabecalho{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*está transformando a posição em uma não-estática, ou seja, posso mudar
    de acordo com top, left, right, bottom*/

}

.container{
    display: flex;
    align-items: center;
}

.container__image{
    padding: 1em;
}

.lista-menu{
    /*escondendo o menu*/
    display:none; 
    position:absolute;/*permito que meu elemento seja movimentado de acordo com o seu elemento-pai*/
    top:100%; /*colocou uma posição de 100% em relação ao cabeçalho, ou seja, tipo uma margin de 100% da altura do cabeçalho*/
    width: 60vw;
}


.container__botao:checked~.lista-menu {
    /*Se tiver checado o ~ (combinador CSS) vai procurar a lista-menu e vai colocar o que tiver dentro das chaves, ou seja
    irá exibi-lo como um display block*/
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding:1em;
    background-color: var(--white);
}

.lista-menu__titulo{
    color: var(--orange);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /*deixa a propriedade gradient somente no texto*/
    text-transform: uppercase; /*deixando o texto em maiúsculo*/
    
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito{
        font-family: var(--second-font);
        font-size: 1.875em;
    }

    .container__titulo{
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--black);
    }

    .container__image-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .lista-menu__titulo{
        display: none;
     }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--gradient-blue);
        color: var(--white);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--gradient-blue);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--white);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto; /*preenche o espaço que tá sobrando*/
    }

    .container__texto{
        display: block;
    }
}